/*====================================Null====================================*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
    font-family: 'Montserrat';
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    background: #000;
	color: #fff;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: none;
}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*========================================================================*/
.wrapper {
	overflow: hidden;
}
._container {
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
}
/*================================HEADER========================================*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}
.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	/* z-index: 2; */
}
.header__container {
	min-height: 106px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.header__burger {
	display: none;
}
.header__menu {
}
.header__menu_list {
	display: flex;
	position: relative;
	z-index: 2;
}
.header__menu_item {
	position: relative;
}
.header__menu_item:before {
	content: '{';
	position: absolute;
	left: -8px;
	opacity: 0;
	color: rgb(206, 141, 22);
	transition: .3s ease;
}
.header__menu_item:after {
	content: '}';
	position: absolute;
	right: -8px;
	opacity: 0;
	color: rgb(206, 141, 22);
	transition: .3s ease;
}
.header__menu_item:hover:before,
.header__menu_item:hover:after {
	opacity: 1;
}
.header__menu_item:not(:last-child) {
	margin: 0 64px 0 0;
}
.header__menu_link {
}
.header__social {
	display: flex;
}
.header__social_item {
}
.header__social_item img{
	width: 70%;
}
.header__social_item:not(:last-child) {
}
.header__social_link {

}

@media (max-width: 1200px) {
	.header__container {
		min-height: 80px;
	}
}

@media (max-width: 767px) {
	body.lock {
		overflow: hidden;
	}
	.header__container {
		min-height: 50px;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
		margin: 0 auto;
	}
	.header__burger span {
		background:rgb(255, 255, 255);
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
		transition: all .3s;
	}
	.header__burger:before,
	.header__burger:after {
		content: '';
		background:rgb(255, 255, 255);
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all .3s;
	}
	.header__burger:before {
		top: 0;
	}
	.header__burger:after {
		bottom: 0;
	}
	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__burger.active span {
		transform: scale(0);
	}
	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background:rgb(0, 0, 0);
		padding: 70px 0 0 0;
		overflow-y: auto;
	}
	.header__social {
		display: none;
	}
	.header__menu.active {
		top: 0;
	}
	.header__menu_list {
		display: block;
		text-align: center;
	}
	.header__menu_item:not(:last-child) {
		margin: 0 0 30px 0;
	}
}
/*================================WELCOME========================================*/
.welcome {
	padding: 300px 0 0 0;
	/* height: 100vh; */
	position: relative;
}
.welcome__container {
}
.x1 {
	position: absolute;
	bottom: 140px;
	right: 85px;
	opacity: 0;
	animation: fade 6s ease infinite;
}
.x2 {
	position: absolute;
	bottom: 85px;
	right: 170px;
	opacity: 0;
	animation: fade 6s ease infinite;
	animation-delay: 5s;
}
.x3 {
	position: absolute;
	top: 85px;
	right: 255px;
	opacity: 0;
	animation: fade 6s ease infinite;
	animation-delay: 8s;
}
.x4 {
	position: absolute;
	top: 170px;
	right: 530px;
	opacity: 0;
	animation: fade 6s ease infinite;
	animation-delay: 3s;
}
.x5 {
	position: absolute;
	top: 170px;
	right: 85px;
	opacity: 0;
	animation: fade 6s ease infinite;
	animation-delay: 1s;
}
.x6 {
	position: absolute;
	bottom: 180px;
	right: 150px;
	opacity: 0;
	animation: fade 6s ease infinite;
	animation-delay: 10s;
}
.x7 {
	position: absolute;
	bottom: 170px;
	right: 430px;
	opacity: 0;
	animation: fade 6s ease infinite;
	animation-delay: 7s;
}
.x8 {
	position: absolute;
	top: 220px;
	right: 320px;
	opacity: 0;
	animation: fade 6s ease infinite;
	animation-delay: 11s;
}
@keyframes fade {
	0% {
		opacity: 0;
		transform: scale(0.5);
		filter: blur(0);
	}
	50% {
		opacity: 0.8;
	}
	100% {
		opacity: 0;
		transform: scale(1.5);
		filter: blur(2px);
	}
}
.welcome__title-wrapper {
	position: relative;
}
.welcome__title-wrapper:before {
	content: '<h1>';
	position: absolute;
	top: -85px;
}
.welcome__title-wrapper:after {
	content: '</h1>';
	position: absolute;
	bottom: -135px;
}
.welcome__title-wrapper:before,
.welcome__title-wrapper:after {
	font-size: 75px;
	line-height: 85px;
	font-weight: 900;
	color: rgba(46, 168, 199, 0.418);
	animation: opacity 2s infinite;
}
.welcome__title {
	display: flex;
	font-size: 75px;
	line-height: 85px;
	font-weight: 900;
	overflow: hidden;
	height: 85px;
}
.welcome__text {
	font-weight: 900;
}
.welcome__list {
	animation: change 10s infinite;
	height: 340px;
	overflow: hidden;
	padding-left: 20px;
}
.welcome__item {

}
@keyframes change {
	0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@keyframes opacity {
	0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.welcome__autotext {
	margin-top: 20px;
	font-size: 20px;
}
.welcome__showmore {
	text-align: center;
}
.welcome__button {
	text-align: center;
	margin: 140px 0 0 0;
	opacity: 70%;
	transition: .3s ease;
	filter: blur(1px);
	background: transparent;
}
.welcome__button:hover {
	opacity: 100%;
	filter: blur(0px);
}
.welcome__button p {
	margin: 0 0 10px 0;
	color: #fff;
}

.button__show-more {
	position: relative;
	transition: .3s ease;
	margin: 0 auto;
}
.button__show-more img {
	width: 30px;
	height: 30px;
}

/*Welcome Media*/
@media (max-width: 1200px) {
	.welcome {
		padding: 200px 0 0 0;
	}
	.welcome__title {
		font-size: 55px;
	}
	.welcome__title-wrapper:before,
	.welcome__title-wrapper:after {
		font-size: 55px;
}
	.welcome__title-wrapper:before {
		top: -60px;
	}
	.welcome__title-wrapper:after {
		bottom: -115px;
	}
	.welcome__autotext {
		font-size: 15px;
		margin-top: 15px;
	}
	.x1,.x2,.x3,.x4,.x5,.x6,.x7,.x8 {
		font-size: 10px;
	}
}

@media (max-width: 920px) {
	.welcome__title {
		font-size: 45px;
	}
	.welcome__title-wrapper:before,
	.welcome__title-wrapper:after {
		font-size: 45px;
}
	.welcome__title-wrapper:before {
		top: -60px;
	}
	.welcome__title-wrapper:after {
		bottom: -95px;
	}
	.welcome__autotext {
		font-size: 10px;
		margin-top: 0px;
	}
	.welcome__button p {
		font-size: 10px;
	}
}
@media (max-width: 767px) {
	.welcome__title {
		font-size: 40px;
	}
	.welcome__title-wrapper:before {
		top: -40px;
	}
	.welcome__title-wrapper:after {
		bottom: -85px;
	}
	.welcome__title-wrapper:before,
	.welcome__title-wrapper:after {
		font-size: 40px;
		line-height: 50px;
	}
}
@media (max-width: 660px) {
	.welcome__title {
		font-size: 35px;
	}
	.welcome__title-wrapper:before {
		top: -15px;
	}
	.welcome__title-wrapper:after {
		bottom: -65px;
	}
	.welcome__title-wrapper:before,
	.welcome__title-wrapper:after {
		font-size: 35px;
		line-height: 45px;
	}
}
@media (max-width: 585px) {
	.welcome__title {
		display: block;
		height: 80px;
		line-height: 40px;
		font-size: 35px;
	}
	.welcome__list-wrapper {
		height: 40px;
		overflow: hidden;
	}
	.welcome__list {
		padding: 0;
		height: 160px;
	}
	.welcome__autotext {
		margin-top: 10px;
	}
}
@media (max-width: 405px) {
	.welcome__title {
		display: block;
		height: 56px;
		line-height: 28px;
		font-size: 25px;
	}
	.welcome__list-wrapper {
		height: 28px;
		overflow: hidden;
	}
	.welcome__list {
		padding: 0;
		height: 112px;
	}
}
/*================================ABOUT========================================*/
.main__about {
	/* height: 100vh; */
}
.about {
	margin: 100px 0 0 0;
}
.about__container {
	text-align: center;
}
h2 {
	font-size: 40px;
	font-weight: 900;
	position: relative;
	display: inline-flex;
}
.about__title {
	margin: 0 0 70px 0;
}
.about__title:before {
	content: '<h2>';
	position: absolute;
	left: -108px;
}
.about__title:after {
	content: '</h2>';
	position: absolute;
	right: -125px;
}
.about__title:before,
.about__title:after {
	color: rgba(46, 168, 199, 0.418);
	animation: opacity 2s infinite;
}
.about__content {
	display: flex;
}
.about__image-block {
	flex: 0 1 32.5%;
	padding: 0 0 0 15px;
}
.about__image-block_inner {
	position: relative;
	max-width: 100%;
	height: auto;
}
.about__image-block_image {
	width: 100%;
}
.about__image-block_inner:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	border-top: 240px solid #000;
    border-left: 240px solid transparent;
}
.about__image-block_inner:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom: 240px solid #000;
    border-right: 240px solid transparent;
}
.about__text-block {
	flex: 0 1 67.5%;
	display: flex;
	flex-direction: column;
	padding: 0 15px 0 0;
}
.about__text {
	text-align: justify;
	line-height: 120%;
}
.about__text:not(:last-child) {
	margin: 0 0 30px 0;
}
.text-about-left {
	padding: 0 15px 0 0;
}
.text-about-right {
	align-self:flex-end;
	padding: 0 0 0 15px;
}
.about__text span {
	color: rgb(206, 141, 22);
}


.emerging-from-left {
	opacity: 0;
    transform: translateX(-100px);
}
.emerging-from-left.element-show {
	opacity: 1;
    transform: translateX(0);
    transition: 1s ease;
}
.emerging-from-right {
	opacity: 0;
    transform: translateX(100px);
}
.emerging-from-right.element-show {
	opacity: 1;
    transform: translateX(0);
    transition: 1s ease;
}
.emerging-from-bottom {
	opacity: 0;
    transform: translateY(25px);	
}
.emerging-from-bottom.element-show {
	opacity: 1;
    transform: translateY(0);
    transition: 1s ease;
}
.emerging-from-top {
	opacity: 0;
    transform: translateY(-50px);	
}
.emerging-from-top.element-show {
	opacity: 1;
    transform: translateY(0);
    transition: 1s ease;
}
.emerging-whith-scale {
	opacity: 0;
    transform: scale(.2);	
}
.emerging-whith-scale.element-show {
	opacity: 1;
    transform: scale(1);
    transition: 1s ease;
}

/*================================SEVICES========================================*/
.main__services {
}
.services {
	margin: 100px 0 0 0;
}
.services__container {
	text-align: center;
}
.services__title {
}
.services__title:before {
	content: '<h2>';
	position: absolute;
	left: -108px;
}
.services__title:after {
	content: '</h2>';
	position: absolute;
	right: -125px;
}
.services__title:before,
.services__title:after {
	color: rgba(46, 168, 199, 0.418);
	animation: opacity 2s infinite;
}
.services__subtitle {
	margin: 35px 0 0 0;
}
.services__subtitle span {
	color:rgb(206, 141, 22);
}
.services__items {
	display: flex;
	margin: 35px -15px 0 -15px;
}
.services__item {
	flex: 0 1 33.333%;
	padding: 0 15px;
}
.services__item_body {
	border: 1px solid #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	height: 100%;
}
.services__item_body>*:not(:last-child) {
	margin: 0 0 10px 0;
}
.services__item_image {
}
.services__item_image img{
	width: 80px;
	height: 80px;
}
.services__item_title {
	font-size: 16px;
	font-weight: 900;
}
.services__item_text {
	text-align: left;
}

/*================================PORTFOLIO========================================*/
.slick-list {
	overflow: hidden;
}
.slick-track{
	display: flex;
}
.main__portfolio {
	/* height: 100vh; */
}
.portfolio {
	margin: 100px 0 0 0;
}
.portfolio__container {
	text-align: center;
}
.portfolio__title {
	margin: 0 0 70px 0;
}
.portfolio__title:before {
	content: '<h2>';
	position: absolute;
	left: -108px;
}
.portfolio__title:after {
	content: '</h2>';
	position: absolute;
	right: -125px;
}
.portfolio__title:before,
.portfolio__title:after {
	color: rgba(46, 168, 199, 0.418);
	animation: opacity 2s infinite;
}
.portfolio__items {
	display: flex;
	flex-wrap:wrap;
}
.portfolio__item {
	padding: 10px;
	flex: 0 1 50%;
	max-width: 50%;
	position: relative;
}

.portfolio__item img {
	max-width: 100%;
	height: auto;
}
.portfolio__inner {
	position: relative;
	cursor: pointer;
}
.portfolio__inner:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	border-top: 40px solid #000;
	border-left: 40px solid transparent;
}
.portfolio__inner:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom: 40px solid #000;
	border-right: 40px solid transparent;
}
.portfolio__image {
}
.portfolio__overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:rgba(41, 41, 41, 0.904);
	z-index: 10;
	opacity: 0;
	transition: .3s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.portfolio__overlay:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	border-top: 50px solid #000;
	border-left: 100px solid transparent;
}
.portfolio__overlay:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom: 50px solid #000;
	border-right: 100px solid transparent;
}
.portfolio__overlay:hover {
	opacity: 1;
}
.overlay__item {
	background: url(../welcome/img/eye.png);
	width: 60px;
	height: 60px;
	background-size: cover;
}
.overlay__text {
	position: relative;
}
.overlay__text:before {
	content: '<h3>';
	position: absolute;
	left: -40px;
	color: rgba(46, 168, 199, 0.8);
	font-weight: 800;
}
.overlay__text:after {
	content: '</h3>';
	position: absolute;
	right: -45px;
	color: rgba(46, 168, 199, 0.8);
	font-weight: 800;
}

/*================================CONTACTS========================================*/
.main__contacts {
}
.contacts {
	margin: 100px 0 0 0;
}
.contacts__container {
	text-align: center;
}
.contacts__title {
}
.contacts__title:before {
	content: '<h2>';
	position: absolute;
	left: -108px;
}
.contacts__title:after {
	content: '</h2>';
	position: absolute;
	right: -125px;
}
.contacts__title:before,
.contacts__title:after {
	color: rgba(46, 168, 199, 0.418);
	animation: opacity 2s infinite;
}
.contacts__container p {
	margin: 35px 0 0 0;
}
.contacts__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 35px 0 100px 0;
}
.contacts__content_list {
}
.contacts__content_item {
	font-size: 40px;
	font-weight: 800;
	transition: .3s ease;
}
.contacts__content_item:not(:last-child) {
	margin: 0 0 10px 0;
}
.contacts__content_item:hover {
	position: relative;
	transform: scaleX(1.1);
}
.contacts__content_list:hover .contacts__content_item:not(:hover ){
	/* color:rgb(32, 136, 0); */
	opacity: .3;
	filter: blur(2px);
}

.contacts__content_item:before {
	content: '{';
	position: absolute;
	left: -20px;
	color:rgb(206, 141, 22);
	opacity: 0;
}
.contacts__content_item:after {
	content: '}';
	position: absolute;
	right: -20px;
	top: -50%;
	transform: translateY(50%);
	color:rgb(206, 141, 22);
	opacity: 0;
}
.contacts__content_item:hover:before,
.contacts__content_item:hover:after {
	opacity: 1;
}

.contacts__content_link {
}

.footer {
	height: 70px;
}
.footer__container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contacts span {
	color:rgb(206, 141, 22);
}
.footer__content {
	width: 50%;
	height: 100%;
	border-top: 2px solid rgb(255, 255, 255);
	border-image: linear-gradient(45deg, rgba(255, 255, 255, 0.568), rgb(0, 0, 0));
	border-image-slice: 1;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	line-height: 130%;
	color:rgba(255, 255, 255, 0.459);
}